span{
    color: orangered;
}
.d-flex{
    justify-content: space-between;
}
.form{
    
    padding: 3%;
    width: 750px;
    box-shadow: 0px 4px 63px 0px #00000026;

}
button{
    background-color: #F4511E;
    color: white;
    padding: 15px 90px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px !important;


}

@media only screen and (max-width: 600px) {

    .form-content{
        margin-top:-200px !important ;
        background-color: red !important;
    }
    .form{
    
        padding: 3%;
        width: 500px !important;
        box-shadow: 0px 4px 63px 0px #00000026;
    
    }
    .s1{
        width: 130px !important;
    }
    .mb-3{
        padding: 0 3px;
    }
}
@media only screen and (max-width: 414px) {

    .form-content{
        margin-top:-200px !important ;
        background-color: red !important;
        padding: 2% !important;
        overflow: hidden !important;
    }
    .form{

        padding: 2%;
        width: 350px !important;
        box-shadow: 0px 4px 63px 0px #00000026;
    
    }
    .s1{
        width: 105px !important;
    }
    .mb-3{
        padding: 0 3px;
    }
}

